@model jQueryAjaxInAsp.NetMvc.Areas.ACEP.Model.TBL_ACEP_DATA_ENTRY_STATUS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_ACEP_DATA_ENTRY_STATUS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STATUS_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
